<div class="sercli pb-4 flex-grow h-full">
    <div class="shadow bg-white mb-5 mt-3 mr-7 rounded-2xl dark:bg-black">

        <label class="flex border-b border-gray-300 pt-6 pb-5 pl-6 text-2xl dark:border-neutral-700">{{
            translation?.CLIENTAPPV2_DATAUSAGE_DATAUSAGE }}</label>

        <div>

            <div class="flex justify-center items-center">
                <div class="w-fit rounded-lg mt-4 flex items-center">
                    <div class="button-group flex p-1 rounded-lg bg-gray-200  dark:bg-neutral-700">
                        <div [ngClass]="{'active': selectedOption === 'Step1'}" (click)="setActive('Step1')"
                            class="flex-grow p-1 rounded-lg flex items-center justify-center mr-2 lg:px-8">
                            <input type="radio" class="custom-radio" [(ngModel)]="selectedOption" value="Step1"
                                class="inputbtn rounded-lg lg:text-xs xl:text-base">
                            <label class="ml-2">{{ translation?.CLIENTAPPV2_DATAUSAGE_EMAILNEWSLETTER }}</label>
                        </div>
        
                        <div [ngClass]="{'active': selectedOption === 'Step2'}" (click)="setActive('Step2')"
                            class="flex-grow p-1 rounded-lg flex items-center justify-center mr-2 lg:px-8">
                            <input type="radio" class="custom-radio" [(ngModel)]="selectedOption" value="Step2"
                                class="inputbtn rounded-lg lg:text-xs xl:text-base">
                            <label class="ml-2">{{  translation?.CLIENTAPPV2_DATAUSAGE_INFOMAILER }}</label>
                        </div>
        
                        <div [ngClass]="{'active': selectedOption === 'Step3'}" (click)="setActive('Step3')"
                            class="flex-grow p-1 rounded-lg flex items-center justify-center mr-2 lg:px-8">
                            <input type="radio" class="custom-radio" [(ngModel)]="selectedOption" value="Step3"
                                class="inputbtn rounded-lg lg:text-xs xl:text-base">
                            <label class="ml-2">{{ translation?.CLIENTAPPV2_DATAUSAGE_DIGIPRINT }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btndiv xl:grid xl:grid-cols-1 ">
                

            </div>

            <div class="blockdiv flex gap-5 mt-5 ml-8">
                <div class="flex gap-5">
                    <div>
                        <label class="2xl:text-base xl:text-sm lg:text-sm font-medium" style="color: #CC0000;">{{
                            translation?.CLIENTAPPV2_DATAUSAGE_DATEFROM }}</label><br />
                        <kendo-datepicker placeholder="Choose a date ..." [size]="'small'" [value]="DateAddedto"
                            class="p-2.5 rounded-lg dark:bg-black dark:text-white dark:border-white">
                        </kendo-datepicker>

                    </div>
                    <div>
                        <label class="2xl:text-base xl:text-sm lg:text-sm font-medium" style="color: #CC0000;">{{
                            translation?.CLIENTAPPV2_DATAUSAGE_DATETO }}</label><br />
                        <kendo-datepicker placeholder="Choose a date ..." [size]="'small'" [value]="DateAddedfrom"
                            class="p-2.5 rounded-lg dark:bg-black dark:text-white dark:border-white">
                        </kendo-datepicker>
                    </div>
                </div>

                <div class="flex gap-5">
                    <div class=" mt-6">
                        <button
                            class="bg-teal-500 text-white px-4 py-2.5 text-start rounded-lg flex items-center xl:mt-0">
                            {{ translation?.CLIENTAPPV2_DATAUSAGE_SEARCH }}
                        </button>
                    </div>

                    <div *ngIf="selectedOption === 'Step1'" class=" mt-6">
                        <button
                            class="bg-red-500 text-white px-4 py-2.5 text-start rounded-lg flex items-center xl:mt-0">
                            {{ translation?.CLIENTAPPV2_DATAUSAGE_DOWNLOAD }}
                        </button>
                    </div>
                    <div class="ml-auto mr-5 mt-6">
                        <button class="pl-4 pr-4 p-3 rounded-lg mr-4" style="background-color: #F0F2F7;" (click)="back()">
                            <th class="text-start lg:text-sm font-medium sm:text-xs">{{
                                translation?.CLIENTAPPV2_DATAUSAGE_BACK }}</th>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-5">
                <div *ngIf="selectedOption === 'Step1'" class="mt-5">
                    <!-- table -->
                    <div>
                        <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
                            <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                                <thead class="">
                                    <tr class="bg-gray-400  dark:bg-neutral-700">
                                        <th *ngIf="usertoogle"
                                            class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATA_IMPORT_CLIENTNO }}</th>
                                        <th *ngIf="!usertoogle"
                                            class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">
                                            {{ translation?.CLIENTAPPV2_DATAUSAGE_EMPLOYEENO }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_SURNAME }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_FIRSTNAME }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_COMPANYNAME }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_EMAILADDRESS }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_VERIFIED }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row1 -->
                                    <tr *ngFor="let client of USER_DATA_EMAIL_NEWSLETTER">
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ client.id }}</td>
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ client.surname }}</td>
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ client.firstName }}</td>
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ client.companyName }}
                                        </td>
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ client.emailAddress }}
                                        </td>
                                        <td>
                                            <div class="verifedimg">
                                                <img *ngIf="client.verfied == 'yes'"
                                                    src="../../../assets/manage_clients/verified-removebg-preview.png"
                                                    class=" w-5 h-5">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- table -->
                    <div class="mt-8">
                        <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
                            <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                                <thead class="">
                                    <tr class="bg-gray-400  dark:bg-neutral-700">
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                            translation?.CLIENTAPPV2_DATAUSAGE_SENDDATE }}</th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white"></th>
                                        <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row1 -->
                                    <tr *ngFor="let article of paginatedData">
                                        <td class="lg:text-base sm:text-xs dark:text-white">{{ article.sendDate }}</td>
                                        <td class="lg:text-base sm:text-xs dark:text-white"><strong>{{ article.concept
                                                }}</strong> Email
                                            Newsletter Emailed</td>
                                        <td class="lg:text-base sm:text-xs dark:text-white">Name, Email Address</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- pagination of table -->
                    <div class="pagination flex justify-between border-t p-2 flex-grow dark:border-neutral-700">

                        <div class="pagination-info">
                            <span class="text-sm dark:text-white">
                                <!-- {{ (currentPage - 1) * itemsPerPage + 1 }} - -->
                                {{ calculateMaxValue() }}
                                <span class="text-sm text-gray-400">
                                    OF
                                    {{ totalItems }}
                                </span>
                            </span>
                        </div>

                        <div class="pagination-controls flex">
                            <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1"
                                class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black mr-4 dark:text-white dark:border-white"
                                [ngClass]="{'disabled-button': currentPage === 1}">
                                < </button>


                                    <div class="border rounded-md py-1 pl-1.5 pr-1.5">
                                        <ng-container *ngFor="let page of getPages() | slice:0:4">
                                            <button [disabled]="currentPage === page" (click)="currentPage = page"
                                                [class.pagibtn]="currentPage == page"
                                                class="rounded-md pt-0 pb-0 pr-2 pl-2 text-sm dark:text-white">{{ page
                                                }}</button>
                                        </ng-container>
                                    </div>


                                    <button [disabled]="currentPage * itemsPerPage >= totalItems"
                                        (click)="currentPage = currentPage + 1"
                                        class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black ml-4 dark:text-white dark:border-white"
                                        [ngClass]="{'disabled-button': currentPage * itemsPerPage >= totalItems}">
                                        >
                                    </button>
                                    <!-- <button [disabled]="currentPage * itemsPerPage >= totalItems" (click)="currentPage = currentPage + 1" class="border rounded-md mt-1.5 mb-1.5 pl-1.5 pr-1.5 text-base ml-4">></button> -->
                        </div>

                        <div class="pagination-jump">
                            <span class="text-xs text-gray-400">{{ translation?.CLIENTAPPV2_DATAUSAGE_JUMPTO }} </span>
                            <input type="number" [(ngModel)]="currentPage" min="1" max="{{ totalPages }}"
                                class="border text-center text-xs p-1 mr-2 rounded-lg dark:bg-black dark:text-white" />
                            <button (click)="jumpToPage()"></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedOption === 'Step2'" class="mt-5">
                    <div class="mt-5">
                        <!-- table -->
                        <div class="mt-8">
                            <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
                                <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                                    <thead class="">
                                        <tr class="bg-gray-400  dark:bg-neutral-700">
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                                translation?.CLIENTAPPV2_DATAUSAGE_SENDDATE }}</th>
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                                translation?.CLIENTAPPV2_DATAUSAGE_CAMPAIGNSUBJECT }}</th>
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- row1 -->
                                        <tr *ngFor="let article of InformailerpaginatedData">
                                            <td class="lg:text-base sm:text-xs dark:text-white">{{ article.date }}</td>
                                            <td class="lg:text-base sm:text-xs dark:text-white">{{
                                                article.campaignSubject }}</td>
                                            <td class="lg:text-base sm:text-xs dark:text-white">Name, Email Address</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!-- pagination of table -->
                        <div class="pagination flex justify-between border-t p-2 flex-grow dark:border-neutral-700">

                            <div class="pagination-info">
                                <span class="text-sm dark:text-white">
                                    <!-- {{ (currentPage - 1) * itemsPerPage + 1 }} - -->
                                    {{ calculateMaxValue() }}
                                    <span class="text-sm text-gray-400">
                                        OF
                                        {{ totalItems }}
                                    </span>
                                </span>
                            </div>

                            <div class="pagination-controls flex">
                                <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1"
                                    class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black mr-4 dark:text-white dark:border-white"
                                    [ngClass]="{'disabled-button': currentPage === 1}">
                                    < </button>


                                        <div class="border rounded-md py-1 pl-1.5 pr-1.5">
                                            <ng-container *ngFor="let page of getPages() | slice:0:4">
                                                <button [disabled]="currentPage === page" (click)="currentPage = page"
                                                    [class.pagibtn]="currentPage == page"
                                                    class="rounded-md pt-0 pb-0 pr-2 pl-2 text-sm dark:text-white">{{
                                                    page }}</button>
                                            </ng-container>
                                        </div>


                                        <button [disabled]="currentPage * itemsPerPage >= totalItems"
                                            (click)="currentPage = currentPage + 1"
                                            class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black ml-4 dark:text-white dark:border-white"
                                            [ngClass]="{'disabled-button': currentPage * itemsPerPage >= totalItems}">
                                            >
                                        </button>
                                        <!-- <button [disabled]="currentPage * itemsPerPage >= totalItems" (click)="currentPage = currentPage + 1" class="border rounded-md mt-1.5 mb-1.5 pl-1.5 pr-1.5 text-base ml-4">></button> -->
                            </div>

                            <div class="pagination-jump">
                                <span class="text-xs text-gray-400">{{ translation?.CLIENTAPPV2_DATAUSAGE_JUMPTO }}
                                </span>
                                <input type="number" [(ngModel)]="currentPage" min="1" max="{{ totalPages }}"
                                    class="border text-center text-xs p-1 mr-2 rounded-lg dark:bg-black dark:text-white" />
                                <button (click)="jumpToPage()"></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="selectedOption === 'Step3'" class="mt-5">
                    <div class="mt-5">
                        <!-- table -->
                        <div class="mt-8">
                            <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
                                <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                                    <thead class="">
                                        <tr class="bg-gray-400  dark:bg-neutral-700">
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                                translation?.CLIENTAPPV2_DATAUSAGE_SENDDATE }}</th>
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">{{
                                                translation?.CLIENTAPPV2_DATAUSAGE_CAMPAIGNSUBJECT }}</th>
                                            <th class="text-start lg:text-sm font-semibold sm:text-xs dark:text-white">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- row1 -->
                                        <tr *ngFor="let article of DigiprintpaginatedData">
                                            <td class="lg:text-base sm:text-xs dark:text-white">{{ article.date }}</td>
                                            <td class="lg:text-base sm:text-xs dark:text-white">{{ article.conceptName
                                                }}</td>
                                            <td class="lg:text-base sm:text-xs dark:text-white">Name, Email Address</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!-- pagination of table -->
                        <div class="pagination flex justify-between border-t p-2 flex-grow">

                            <div class="pagination-info">
                                <span class="text-sm dark:text-white">
                                    <!-- {{ (currentPage - 1) * itemsPerPage + 1 }} - -->
                                    {{ calculateMaxValue() }}
                                    <span class="text-sm text-gray-400">
                                        OF
                                        {{ totalItems }}
                                    </span>
                                </span>
                            </div>

                            <div class="pagination-controls flex dark:border-neutral-700">
                                <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1"
                                    class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black mr-4 dark:text-white dark:border-white"
                                    [ngClass]="{'disabled-button': currentPage === 1}">
                                    < </button>


                                        <div class="border rounded-md py-1 pl-1.5 pr-1.5">
                                            <ng-container *ngFor="let page of getPages() | slice:0:4">
                                                <button [disabled]="currentPage === page" (click)="currentPage = page"
                                                    [class.pagibtn]="currentPage == page"
                                                    class="rounded-md pt-0 pb-0 pr-2 pl-2 text-sm dark:text-white">{{
                                                    page }}</button>
                                            </ng-container>
                                        </div>


                                        <button [disabled]="currentPage * itemsPerPage >= totalItems"
                                            (click)="currentPage = currentPage + 1"
                                            class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black ml-4 dark:text-white dark:border-white"
                                            [ngClass]="{'disabled-button': currentPage * itemsPerPage >= totalItems}">
                                            >
                                        </button>
                                        <!-- <button [disabled]="currentPage * itemsPerPage >= totalItems" (click)="currentPage = currentPage + 1" class="border rounded-md mt-1.5 mb-1.5 pl-1.5 pr-1.5 text-base ml-4">></button> -->
                            </div>

                            <div class="pagination-jump">
                                <span class="text-xs text-gray-400">{{ translation?.CLIENTAPPV2_DATAUSAGE_JUMPTO }}
                                </span>
                                <input type="number" [(ngModel)]="currentPage" min="1" max="{{ totalPages }}"
                                    class="border text-center text-xs p-1 mr-2 rounded-lg dark:text-white dark:border-white" />
                                <button (click)="jumpToPage()"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>