<div class="addcli pb-4 pr-4 flex-grow">
    <div class="rounded-lg flex-grow mt-4">

        <div class="blok flex mt-3">
            <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
            <div class="pl-2 pr-2 border-t-4 border-yellow-500">
                <div class="mt-3">
                    <span class="text-2xl text-yellow-500">Newsletter Recieved </span>
                </div>
            </div>

            <div class="mt-5 flex justify-end items-end p-3">
                <div class="mt-3"></div>
                <span class="text-lg text-yellow-500">{{ newsletterrecieved }}</span>
            </div>
        </div>

        <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
            <div class="pl-2 pr-2 border-t-4 border-red-500">
                <div class="mt-3">
                    <span class="text-2xl text-red-500">Newsletter Sent</span>
                </div>
            </div>

            <div class="mt-5 flex justify-end items-end p-3">
                <span class="text-lg text-red-500">{{ newslettersent }}</span>
            </div>
        </div>

        <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
            <div class="pl-2 pr-2 border-t-4 border-green-500">

                <div class="mt-3">
                    <span class="text-2xl text-green-500">Count User</span>
                </div>
            </div>

            <div class="mt-5 flex justify-end items-end p-3">
                <span class="text-lg text-green-500">{{ usercount }}</span>
            </div>
        </div>
        </div>

        <div class="blok flex mt-3">
            <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
                <div class="pl-2 pr-2 border-t-4 border-blue-500">
                    <div class="mt-3">
                        <span class="text-2xl text-blue-500">Employees Count</span>
                    </div>
                </div>
    
                <div class="mt-5 flex justify-end items-end p-3">
                    <span class="text-lg text-blue-500">{{ employeecount }}</span>
                </div>
            </div>
            
            <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
                <div class="pl-2 pr-2 border-t-4 border-purple-500">
                    <div class="mt-3">
                        <span class="text-2xl text-purple-500">Clients </span>
                    </div>
                </div>
    
                <div class="mt-5 flex justify-end items-end p-3">
                    <span class="text-lg text-purple-500">{{ clientcount }} </span>
                </div>
            </div>
    
            <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
                <div class="pl-2 pr-2 border-t-4 border-orange-500">
                    <div class="mt-3">
                        <span class="text-2xl text-orange-500">Verified Email</span>
                    </div>
                </div>
    
                <div class="mt-5 flex justify-end items-end p-3">
                    <span class="text-lg text-orange-500">{{ verifyemailcount }}</span>
                </div>
            </div>
        </div>

        <div class="blok flex mt-3">
            <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 pl-2 pr-2 pb-2 rounded-lg dark:bg-black">
                <div class="pl-2 pr-2 border-t-4 border-black dark:border-white">
                    <div class="mt-3">
                        <span class="text-2xl dark:text-white">Customer Profile</span>
                    </div>
                </div>
    
                <div class="mt-5 flex justify-end items-end p-3">
                    <span class="text-lg dark:text-white">{{ customerProfile }}</span>
                </div>
            </div>

            <div class="sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  2xl:mr-6 mr-5 p-2"></div>
            <div class="sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  2xl:mr-6 mr-5 p-2"></div>
        </div>

    </div>
</div>