/* Style for table data cells */
.table-container td {
  height: 5rem;
  /* Add a border between rows */
}

@media screen and (max-width: 730px) {
  .table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
  }
}


@media screen and (min-width: 1250px) and (max-width: 1350px) {
  .table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: smaller;
    zoom: 92%;
  }
}

/* @media screen and (min-width: 1550px) {
  .table-container th {
    padding: 15px;
  }

.table-container td {
  height: 5rem;
  border-top: 1px solid #F0F2F7;
}
} */