.disabled-button {
  color: gray;
  border-color: #ccc;
}

.filter {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  width: 10rem;
  /* change to your preferences */
  word-wrap: break-word;
  display: inline-block;
  overflow: hidden;
  /* older browsers */
}

/* .button-panel {
  display: flex;
  flex-wrap: wrap;
}

.button-panel button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #29CCB1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
} */



/* Default styles for larger screens */
.flex {
  display: flex;
}

@media screen and (max-width: 730px) {
  .sercli {
    padding-left: 17px;
  }

  .fltrlbl {
    margin-left: -10px;
  }

  .table-container {
    border-collapse: collapse;
    padding-top: 10px;
    font-size: small;
    overflow-x: auto;
  }

  .table-container td img {
    width: 200%;
    height: 200%;
  }
  
  .search {
    flex: 1;
    width: 100%;
    margin-bottom: 8px;
  }

  .my-input {
    width: 100%;
  }

  .DateAdded {
    margin-bottom: 10px;
  }

  .value {
    margin-left: 0px;
  }

  .btndiv {
    display: block;
  }

  .addfiltr {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .value input {
    padding-right: 12px;
    margin-bottom: 10px;
  }

  .imgpanel {
    right: 2rem;
    height: fit-content;
    width: fit-content;
  }

  .imgpanelimg {
    height: 15px !important;
    width: 15px !important;
  }

  .verifedimg {
    height: 15px;
    width: 25px;
  }

  .drpbtn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: black;
    border: 1px solid white;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    align-self: start;
    width: fit-content;
    padding: auto;
  }

  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagination-controls button {
    font-size: 14px;
    /* Adjust the font size as needed */
  }

  .pagination-jump input {
    margin-top: 4px;
    width: 50px;
    /* Adjust the width as needed */
    margin-right: 0;
    /* Remove margin */
  }
}