@media screen and (max-width: 730px) {
    .sercli {
        padding: 10px;
    }

    .table-container {
        padding-top: 5px;
        border-collapse: collapse;
        padding-top: 10px;
        font-size: small;
        overflow-x: auto;
    }

    .table-container td label {
        font-size: small;
    }

    .imgpanel {
        right: 3rem;
        height: fit-content;
        width: fit-content;
    }
}